<input type="text" name="username" placeholder="Username" required><br>
<input type="email" name="email" placeholder="Email"><br>
<input type="password" name="password" placeholder="Password" required><br>
<input type="password" name="password1" placeholder="Repeat password" required><br>
