<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Exo+2|Open+Sans|Roboto|Google+Sans|Montserrat">
<style>
  body,
  html {
    background-color: #dedede;
    font-family: 'Montserrat';
  }

  a {
    color: #000;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #000;
  }

  a:hover {
    border-bottom: 2px solid #000;
  }
</style>
