<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>Account</title>
  </head>
  <body>
    <h2>Welcome
      <%= username %>!
    </h2>
    <p>Your data:</p>
    <p>&nbsp;UID:
      <pre><%= uid %></pre>
    </p>
    <p>&nbsp;Email:
      <pre><%= email %></pre>
    </p>
    <p>&nbsp;Password:
      <pre><%= password %></pre>
    </p>
    <a href="/logout">Log out</a>
  </body>
</html>
