<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>Database manager</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>UID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Version</th>
          <th>Roles</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <hidden>
          <% for(db of databases) { %>
        </hidden>

        <tr>
          <td>
            <a href="/database/<%= db.info.uid %>">
              <pre><%= db.info.uid %></pre>
            </a>
          </td>
          <td>
            <pre><%= db.info.database_name %></pre>
          </td>
          <td>
            <pre><%= db.info.description %></pre>
          </td>
          <td>
            <pre><%= db.info.version %></pre>
          </td>
          <td>
            <pre><%= db.info.roles.join(',') %></pre>
          </td>
          <td>
            <a href="/database/<%= db.info.uid %>/delete">
              <pre>Delete</pre></a>
          </td>
        </tr>

        <hidden>
          <% } %>
        </hidden>
      </tbody>
    </table>
    <div>
      <form action="/database-create" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="roles" placeholder="Roles (split by commas)">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="submit" value="Create">
      </form>
    </div>
  </body>
</html>
