<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>Database
      <%= database.info.database_name %>
    </title>
  </head>
  <body>
    <h2>Database
      <%= database.info.database_name %>
    </h2>
    <table>
      <tr>
        <td>Database name:</td>
        <td>
          <pre><%= database.info.database_name %></pre>
        </td>
      </tr>
      <tr>
        <td>Database description:</td>
        <td>
          <pre><%= database.info.description %></pre>
        </td>
      </tr>
      <tr>
        <td>UID:</td>
        <td>
          <pre><%= database.info.uid %></pre>
        </td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>
          <pre><%= database.info.version %></pre>
        </td>
      </tr>
      <tr>
        <td>Roles:</td>
        <td>
          <pre><%= database.info.roles %></pre>
        </td>
      </tr>
    </table>
    <div>
      Data:
      <pre><code><%= JSON.stringify(database.data, null, 2) %></code></pre>
    </div>
  </body>
</html>
