<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>index</title>
  </head>
  <body>
    <p>Logged in:
      <strong><%= loggedIn %></strong> <% if(loggedIn) { %>as <strong><a href="/account"><%= username %></a></strong><% } %>
    </p>
    <h3>Links:</h3>
    <ul>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/account">Account</a>
      </li>
      <li>
        <a href="/databases">Databases</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </body>
</html>
