<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>Login</title>
  </head>
  <body>
    <div id="login" class="container">
      <form action="/login" method="post">
        <input type="hidden" name="next" value="<%= next %>">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
