<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="post">
      <div>
        <% include ./imports/register-form.ejs %>
      </div>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
