<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div>
      <% include ./imports/styles.ejs %>
    </div>
    <title>Account</title>
  </head>
  <body>
    <h2>User
      <%= username %>
    </h2>
    <table>
      <tr>
        <td>Username:</td>
        <td>
          <pre><%= username %></pre>
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <pre><%= email %></pre>
        </td>
      </tr>
      <tr>
        <td>UID:</td>
        <td>
          <pre><%= uid %></pre>
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
          <pre><%= password %></pre>
        </td>
      </tr>
    </table>
  </body>
</html>
