<div>
  <% include ./imports/styles.ejs %>
</div>
<table border="1">
  <thead>
    <tr>
      <th>Username</th>
      <th>UID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < users.length; i++) { %>
      <tr>
        <td>
          <pre><% if(userUid === users[i].uid) { %><strong><% } %><%= users[i].username %><% if(userUid === users[i].uid) { %></strong><% } %></pre>
        </td>
        <td>
          <a href="<% if(userUid === users[i].uid) { %>/account<% } else { %>/user/<%= users[i].uid %><% } %>">
            <pre><%= users[i].uid %></pre>
          </a>
        </td>
        <td>
          <pre><%= users[i].email %></pre>
        </td>
        <td>
          <pre><%= users[i].role %></pre>
        </td>
        <td>
          <a href="/user/<%= users[i].uid %>/delete">
            <pre>Delete</pre>
          </a>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>
<h2>Add a user</h2>
<form action="/register" method="post">
  <div>
    <% include ./imports/register-form.ejs %>
  </div>
  <select name="role">
    <% for(let i = 0; i < roles.length; i++) { %>
      <% if(roles[i] === 'user') { %>
        <option value="<%= roles[i] %>" selected>
          <%= roles[i] %>
        </option>
        <hidden>
          <% } else { %>
        </hidden>
        <option value="<%= roles[i] %>">
          <%= roles[i] %>
        </option>
        <hidden>
          <% } %>
        </hidden>
        <% } %>
  </select><br>
  <input type="submit" value="Add">
</form>
